---
layout: default
---
<link rel="stylesheet"
    href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/9.6.0/css/fabric.min.css">
<style>
  .pageinfo {
      background: ghostwhite;
      font-size: small;
      text-align: center;
      height: 25px;
      color: gray;
    }

    .infoBar {
      margin-left: 10px;
      margin-right: 10px;
    }

    .improve {
      text-align: right;
      font-size: small;
      color: gray !important;

    }
</style>
  <div class="pageinfo">

    {% capture time %}{{ content | reading_time }}{% endcapture %}
    <span>This article will take {{ time }} {% if time == '1' %}minute{% else %}minutes{% endif %} to read.</span>

    {% if page.git.last_commit.author_date %}
    <span id="filledCommitTime" class="infoBar">Last commit: {{ page.git.last_commit.author_date | timeago }} </span>
    {% endif %}

    <span class="infoBar"><i class="ms-Icon ms-Icon--Contact"></i> &nbsp; Contributors:
      {% for item in page.git.authors %} &nbsp;
      <a href="mailto:{{ item.email }}">{{ item.name }}</a>
      {% endfor %}
    </span>
  </div>
  <div class="improve"><a
      href="https://github.com/mattias-skold/EnhancedExportDocumentation/edit/master/support-site/{{ page.path }}"><i
        class="ms-Icon ms-Icon--PageEdit"></i> &nbsp;Improve this page</a></div>
  </div>

<hr/>
<div class="container-fluid container-middle">
    {{ content }}
</div>
