---
layout: default
---
<link rel="stylesheet"
    href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/9.6.0/css/fabric.min.css">
<style>
  .pageinfo {
      background: ghostwhite;
      font-size: small;
      text-align: center;
      height: 25px;
      color: gray;
      padding:6px;
    }
    .feedbackFooter{
      background-color: ghostwhite;
      padding:6px;

    }
    .infoBar {
      margin-left: 10px;
      margin-right: 10px;
    }

    .timetoRead{
        float: left;
    }

    .improve {
      text-align: right;
      font-size: small;
      color: gray !important;
      float:right;
    }
</style>
<!--  

      {{ page.git }}

-->

<script>
  function SendHelpfullTelemetry(isHelpfull){
    appInsights.trackEvent({name:isHelpfull?'Helpful':'Not-Helpful'});
  }
</script>
<div class="container">
  <div style="float: left;">
    <img src="./img/EnhancedExportPRO-logo.png" width="50%" /> 
    <br/>
    {% for p in site.pages %}
      {% if p.name == "index.md" %}
        <h6><a href="{{ p.url | relative_url  }}">{{ p.title }}</a></h6>
      {% endif %}
    {% endfor %}

    {% for p in site.pages %}
      {% if p.name != "index.md" %}
        <h6><a href="{{ p.url | relative_url  }}">{{ p.title }}</a></h6>
      {% endif %}
    {% endfor %}
  </div>

  <div class="container-fluid container-middle">
    <div class="pageinfo">
      {% capture time %}{{ content | reading_time }}{% endcapture %}
      <span class="timetoRead">This article will take {{ time }} {% if time == '1' %}minute{% else %}minutes{% endif %} to read.</span> 
      {% if page.git.last_commit.author_date %}
      <span id="filledCommitTime" class="infoBar">Last commit: {{ page.git.last_commit.author_date | timeago }} </span>
      {% endif %}  
      <span class="infoBar"><i class="ms-Icon ms-Icon--Contact"></i> &nbsp; Contributors:
        {% for item in page.git.authors %} &nbsp;
        <a href="mailto:{{ item.email }}">{{ item.name }}</a>
        {% endfor %}
      </span>
      <span class="improve">
        <a href="https://github.com/mattias-skold/EnhancedExportDocumentation/edit/master/support-site/{{ page.path }}">   <i class="ms-Icon ms-Icon--PageEdit"></i> &nbsp;Improve this page</a>
      </span>
    </div>
  
     <hr/>
  
    <h1> {{ page.title }}</h1>
     {{ content }}
  
     <div class="feedbackFooter"> 
      <span style="margin-left: 50%;margin-right: 50%;white-space:nowrap;">Was this page helpfull <a onclick="alert('Thnx');SendHelpfullTelemetry(true);" href="#"
>Yes</a>/ <a onclick="alert('Thnx Sorry to learn that');SendHelpfullTelemetry(false);" href="#">No</a></span>
     </div>
    </div>
</div>